.main {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  height: 100%;
}

.hero {
  margin-bottom: 4rem;
  overflow: hidden;
}

.heroImage {
  margin-top: 3rem;
  height: 450px;
  width: 100vw;
  object-fit: cover;
  filter: brightness(45%);
}

.heroContent {
  position: absolute;
  top: 8rem;
  left: 12rem;
}

.heroTitle {
  color: white;
  font-size: 2em;
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 350;
}

.heroText {
  color: white;
  font-size: 1em;
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 300;
}

.toolTitle {
  margin-top: 6rem;
}

.toolTitle > h2 {
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 300;
}

.tools {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 1350px) {
  .heroContent {
    top: 5rem;
    left: 0;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}